.md-side-nav{
    background-color:whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(30 41 59 / 1);
    position: fixed;
    height: 100%;
    overflow: auto;
    min-width: 200px;
  }
  
  li a {
    display: block;
    color: rgb(203 213 225 /1);
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    background-color:  rgb(15 23 42  / 1);
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    //background-color: #555;
    color: white;
  }
