<div class="parent-header">
    <div class="logo" [routerLink]="['/customer-home']">
        <img  src="../../../assets/Only T-shirt resize.png"/>
    </div>
    <nav class="mobile-menu">
        <label for="show-menu" class="show-menu"><span>Menu</span>
            <div class="lines"></div>
        </label>
        <input type="checkbox" id="show-menu">
        
        <ul id="menu">
            <li><a [routerLink]="['/brand']"  routerLinkActive="active">Brand</a></li>
            <li><a  [routerLink]="['/contact']"  routerLinkActive="active">Contact</a></li>
            <li><a>Career</a></li>
            <!-- <li><button ><a  [routerLink]="['/admin']"  routerLinkActive="active" style="background-color:yellow !important; color: black; font-weight: bold;">Admin</a></button></li> -->
        </ul>
    </nav>
</div>

