
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 15%;
    //  /* Should be removed. Only for demonstration */
  }
  .column1 {
    //margin-left:400px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .column2 {
    margin-left:400px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  