 <app-header *ngIf="!hideloginregister()"></app-header>
 <!-- <app-admin-header *ngIf="!adminhideloginregister()" ></app-admin-header>  -->
 <div  *ngIf="adminhideloginregister()" >
     <app-admin-header></app-admin-header>
 </div>
 <div class="main-grid">
    <div class="column"  *ngIf="adminhideloginregister1()"   >
        <app-admin-sidenav ></app-admin-sidenav>
    </div>

    <div class="column1">
        <router-outlet></router-outlet>
    </div>

 </div>
 
    
 
<app-footer *ngIf="!hideloginregister()"></app-footer>