.main-grid{
  display: flex;
}

  /* Create two equal columns that floats next to each other */
  .column {
    //float: left;
    min-width: 200px;
    //  /* Should be removed. Only for demonstration */
  }
  .column1 {
    //margin-left:400px;
    flex: 1;
    /* Should be removed. Only for demonstration */
    background-color: rgb(15 23 42 /1);
  }
  
  /* Clear floats after the columns */
  