<section class="container">
    <div class="left-half">
      <article>
        <a [routerLink]="['/login']">Customer</a>
        <p>"Happiness is a by-product of an effort to make someone else happy."</p>
      </article>
    </div>
    <div class="right-half">
      <article>
        <a [routerLink]="['/admin']">Admin</a>
        <p>"No one who achieves success does so without acknowledging the help of others. The wise and confident acknowledge this help with gratitude."</p>
      </article>
    </div>
  </section>