<div class="header-home">
  <p>Welcome {{ adminShopName }}</p>
</div>
<div class="card-main">
  <div class="card w-20 card-1">
    <div class="card-body">
      <div>
        <h5 class="card-title">TRAFFIC</h5>
        <p class="card-text">350,897</p>
      </div>
      <div>
        <!-- <h5 class="card-title">TRAFFIC</h5> -->
        <i class="pi pi-wifi" style="font-size: 3em"></i>
      </div>
    </div>
  </div>
  <div class="card w-20 card-2">
    <div class="card-body">
      <div>
        <h5 class="card-title">NEW USERS</h5>
        <p class="card-text">2,356</p>
      </div>
      <div>
        <i class="pi pi-user-plus" style="font-size: 3em"></i>
      </div>
    </div>
  </div>
  <div class="card w-20 card-3">
    <div class="card-body">
      <div>
        <h5 class="card-title">SALES</h5>
        <p class="card-text">924</p>
      </div>
      <div>
        <i class="pi pi-dollar" style="font-size: 3em"></i>
      </div>
    </div>
  </div>
  <div class="card w-20 card-4">
    <div class="card-body">
      <div>
        <h5 class="card-title">PRODUCT</h5>
        <p class="card-text">250014</p>
      </div>
      <div>
        <i class="pi pi-inbox" style="font-size: 3em"></i>
      </div>
    </div>
  </div>
</div>
<div class="chart-main">
  <div class="cards w-70">
    <div id="line-chart" class="demo-chart"></div>
  </div>
  <div class="cards1 w-30">
    <div class="static-header"><a>Statistic</a></div>
    <div class="card-text">
      <div class="h-full">
        <div class="w-50 sub-class">
          <div class="contain-sub">
            <div>
              <div class="sub-title">
                <p>Orders</p>
              </div>
              <div class="count">
                <p>123k</p>
              </div>
              <div>
                <p><a class="percemntaPro">-60% </a>From last Week</p>
              </div>
            </div>
            <div>
              <div
                id="order-chart"
                style="width: 200px; height: 150px; padding: 0%; margin: 0%"
              ></div>
            </div>
          </div>
        </div>
        <div class="w-50 sub-class">
          <div class="contain-sub">
            <div>
              <div class="sub-title">
                <p>Profit</p>
              </div>
              <div class="count">
                <p>654k</p>
              </div>
              <div>
                <p><a class="percemntaPro">+02% </a>From last Week</p>
              </div>
            </div>
            <div>
              <div
                id="order-chart1"
                style="width: 200px; height: 150px; padding: 0%; margin: 0%"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="second-small-card">
        <div id="pie-chart" style="width: 740px; height: 200px"></div>
      </div>
    </div>
  </div>
  <div class="mid-contain">
    <div class="w-50">
      
    </div>
    <div class="w-50"></div>
  </div>
</div>
<!-- fake database regarding on this....... -->
<div class="contain-main">
  <div class="contain-main-sub w-100">
    <div class="table-header">
      Active User
    </div>
    <p-table [value]="dummyDatabase" [resizableColumns]="true">
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor="let col of cols" pResizableColumn>
                  {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
          <tr>
              <td *ngFor="let col of cols" [ngClass]="dummy-class">
                      {{car[col.field]}}
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length">
                No records found
            </td>
        </tr>
    </ng-template>
  </p-table>
  </div>
  

</div>
