
<!-- demo -->
<section>
    <div class="bg-video-wrap">
        <video src="../../../assets/T-shirt _ Brand Promotion 3d Video _ UK.mp4
        " loop muted autoplay>
        </video>
        <div class="overlay">
        </div>
        <div class="mt-header"><a [routerLink]="['/login-type']" routerLinkActive="active">Login</a></div> -->
        <div class="logo">
            <span class="text">Only<br><strong>T-shirt</strong></span>
        </div>
    </div>
  </section>
  <section>
    <h1>slide 2</h1>
  </section>
  <section>
    <div class="bg-video-wrap">
        <video src="../../../assets/T-shirt _ Brand Promotion 3d Video _ UK.mp4
        " loop muted autoplay>
        </video>
        <div class="overlay">
        </div>
        <div class="mt-header"><a [routerLink]="['/login-type']" routerLinkActive="active">Login</a></div> -->
        <div class="logo">
            <span class="text">Only<br><strong>T-shirt</strong></span>
        </div>
    </div>
  </section>
  <section>
    <h1>slide 4</h1>
  </section>
  <section>
    <div class="bg-video-wrap">
        <video src="../../../assets/T-shirt _ Brand Promotion 3d Video _ UK.mp4
        " loop muted autoplay>
        </video>
        <div class="overlay">
        </div>
        <div class="mt-header"><a [routerLink]="['/login-type']" routerLinkActive="active">Login</a></div> -->
        <div class="logo">
            <span class="text">Only<br><strong>T-shirt</strong></span>
        </div>
    </div>
  </section>

