@import url(https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong);

* {
  margin: 0;
  padding: 0;
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
}

video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .7) 50%);
  background-size: 3px 3px;
  z-index: 2;
  .mt-header{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    a{
      color: #fff;
      font-family: "Sofia", sans-serif;
      font-size: 20px;
    }
    .logo {
      display: inline-block;
      position: absolute;
      font-family: Arial;
      cursor: pointer;
      color: #fff;
      margin-top: 50px;
      top: 0;
    } 
    .logo .text {
      position: absolute;
      overflow: hidden;
      font-size: 87px;
      left: 53px;
      width: 267px;
      line-height: 70px;
      text-align: center;
      display: inline-block;
      -webkit-animation-name: animation-text;
    
      animation-name:  animation-text;
      animation-duration: 4s;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
    }
  }
}

@keyframes animation-text {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animation-left {
  from {
    left: 30px;
  }

  to {
    left: -30px;
  }
}

@keyframes animation-right {
  from {
    right: 30px;
  }

  to {
    right: -30px;
  }
}

.logo {
  display: inline-block;
  position: absolute;
  font-family: Arial;
  cursor: pointer;
  color: #fff;
  margin-top: 50px;
  top: 0;
}


.logo .text {
  position: absolute;
  overflow: hidden;
  font-size: 87px;
  left: 53px;
  width: 267px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  -webkit-animation-name: animation-text;
  animation-name: animation-text;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

html {
  scroll-snap-type: y;
}

section {
  position:sticky;
  top:0;
  scroll-snap-align: start;
  min-block-size: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-of-type(even) {
  color: hsl(320 80% 90%);
  background: hsl(320 80% 40%);
}

section:nth-of-type(odd) {
  color: hsl(290 80% 90%);
  background: hsl(290 80% 40%);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 4rem;
}
@media screen and (min-width: 480px) {

  // .mt-header a {
  //   text-align: center;
  //   color: #fff;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   margin: auto;
  //   z-index: 3;
  //   max-width: 400px;
  //   height: 775px;
  //   font-size: larger;
  //   font-family: "Sofia", sans-serif;
  // }
  
}