<!-- slider session -->
<div class="main">
    <div class="parent-header">
        <div class='slide'>
            <div>
                <div class="containt-parent">
                    Created by MR.Rex<br /><br />https://onlyT-shirt.com/
                </div>
            </div> <!-- Anything can go inside -->
        </div>
        <div class='slide'>
            <div></div>
        </div>
        <div class='slide'>
            <div>It works with any HTML you'd like!<br /><br />And goes in four directions!</div>
        </div>
        <div class='slide'>
            <div></div>
        </div>
        <div class='slide'>
            <div></div>
        </div>
    </div>
</div>