<div class="bg-video-wrap">
    <video src="../../../assets/T-shirt _ Brand Promotion 3d Video _ UK.mp4
    " loop muted autoplay>
    </video>
    <div class="overlay">
    </div>
    <div class="mt-header"><a [routerLink]="['/login-type']" routerLinkActive="active">Login</a></div> -->
    <div class="logo">
        <span class="text">Only<br><strong>T-shirt</strong></span>
    </div>
</div>
<!-- images -->
<div class="background-image">
    <div class="container">
        <img class="img-collection img-col1" src="../../../assets/homepage/imgonline-com-ua-resize-KtalpEhcQwqZG.jpg" >
        <img class="img-collection img-col2"  src="../../../assets/homepage/imgonline-com-ua-resize-2Q4L67wbOnwx7.jpg" >
        
        <img class="img-collection img-col3"  src="../../../assets/homepage/3.jpg" >
        <img class="img-collection img-col4"  src="../../../assets/homepage/imgonline-com-ua-resize-iqcpXUxaB7QXr.jpg" >
        
        <img class="img-collection img-col5"  src="../../../assets/homepage/imgonline-com-ua-resize-zdUgQuhsozbz.jpg" >
        <img class="img-collection img-col6"  src="../../../assets/homepage/4.jpg" >
        </div>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background: linear-gradient(to right, #757f9a, #d7dde8);">Slide 1</div>
      <div class="swiper-slide" style="background: linear-gradient(to right, #134e5e, #71b280);">Slide 2</div>
      <div class="swiper-slide" style="background: linear-gradient(to right, #5c258d, #4389a2);">Slide 3</div>
      <div class="swiper-slide" style="background: linear-gradient(to right, #2bc0e4, #eaecc6);">Slide 4</div>
      <div class="swiper-slide" style="background: linear-gradient(to right, #085078, #85d8ce);">Slide 5</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

