@import url(https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong);

* {
  margin: 0;
  padding: 0;
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
}

video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}

.mt-header a {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 400px;
  height: 900px;
  font-size: larger;
  font-family: "Sofia", sans-serif;
}


// logo


@keyframes animation-text {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animation-left {
  from {
    left: 30px;
  }

  to {
    left: -30px;
  }
}

@keyframes animation-right {
  from {
    right: 30px;
  }

  to {
    right: -30px;
  }
}

.logo {
  display: inline-block;
  position: absolute;
  font-family: Arial;
  cursor: pointer;
  color: #fff;
  margin-top: 50px;
  top: 0;
}


.logo .text {
  position: absolute;
  overflow: hidden;
  font-size: 87px;
  left: 53px;
  width: 267px;
  line-height: 94px;
  text-align: center;
  display: inline-block;
  -webkit-animation-name: animation-text;
  animation-name: animation-text;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

//image
.background-image {
  background-color: black;

}

.container {
  -webkit-transform: translate(0%, 0%) !important;
  transform: translate(0%, 0%) !important;
  top: 50%;
  left: 50%;
  // width: 80%;
  display: grid;
  grid-template-areas:
    'area1 area1 area2 area3 area3 area4 .'
    'area1 area1 area5 area5 area6 area6 area6';
  gap: 1.5vw;
  padding: 0;
  margin: 0;
}

.img-collection {
  width: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: 50% 50%;
  filter: drop-shadow(2px 6px 15px rgba(135, 139, 142, 0.6));
  border-radius: 1.5rem;
  border: 0.3vw solid white;
}

.img-col1 {
  position: relative;
  top: 10%;
  grid-area: area1;
  height: 80%;
  aspect-ratio: 1/2;
}

.img-col2 {
  grid-area: area2;
  height: 100%;
  aspect-ratio: 1/1;
}

.img-col3 {
  grid-area: area3;
  height: 100%;
  aspect-ratio: 2/1;
}

.img-col4 {
  grid-area: area4;
  height: 100%;
  aspect-ratio: 1.4/1;
}

.img-col5 {
  grid-area: area5;
  aspect-ratio: 1/1;
}

.img-col6 {
  grid-area: area6;
  aspect-ratio: 3/2;
}